.navbar {
    border-bottom: 2px darkcyan solid;
    border-top: 2px darkcyan solid;
}

.titlee {
    text-shadow: 1px 1px 2px rgb(2, 20, 122), 0 0 25px rgb(91, 91, 238), 0 0 5px rgb(169, 102, 224);
    color: white;
    font-size: 36px;
}

.titlerow {
    background-color: pink;
    box-shadow: 5px 5px 2px lightblue;
}

.container {
    background-color: pink;
}

